
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

:root{
  --primary-blue: rgb(0, 47, 255); 
  --primary-black: black;
}

body{
  font-family: "Oswald" sans-serif;
}

/* Navbar */


.logo{
  width: 4.25rem;
  height: 6rem  !important;
}


.navbar-nav{
  margin-left: auto;
}


/* Menu Links */

nav a.nav-link {
  font-weight: 400;
  letter-spacing: .0375rem;
  cursor: pointer; 
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: .75rem;
  margin-left: .75rem;
  color: var(--primary-black)  !important;
}

.navbar-nav > li > a:hover {
  color: var(--primary-blue)  !important;
}

.navbar-brand{
  max-width: 2.25rem;
  padding: 0 !important;
  height: 6rem  !important;
}

